{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="slider">
                {% for service in service_list %}
                <div class="slide">
                    <div class="card mb-4">
                        <a href="{% url 'service_detail' service.slug %}" class="service-link">
                            <div class="card-body service-card-body">
                                <div class="image-container">
                                    {% if "placeholder" in service.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/drqpbtgw4/image/upload/v1701798673/boarding_refclr.jpg" />
                                    {% else %}
                                    <img class="card-img-top" src=" {{ service.featured_image.url }}" />
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="price-text">Price: {{ service.price }}</p>
                                    </div>
                                </div>
                                <div class="service-title">
                                    <h2 class="card-title">{{ service.title }}</h2>
                                </div>
                                <hr />
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}