{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}
{% load static %}
<!-- Hero Section -->
<div class="hero-section container">
    <div class="hero-content">
        <h1>Welcome to BarkBuddies</h1>
        <p>Your trusted partner in dog care services.</p>
        <a href="#services" class="btn btn-green-primary">Book a Service</a>
    </div>
    <div class="hero-image">
        <img src="{% static 'images/home_hero.png' %}" alt="Hero Image">
    </div>
</div>
<!-- About Section -->
<div class="container mt-5 mb-5" id="about">
    <div class="row justify-content-center">
        <h3>A little bit about BarkBuddies:</h3>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body card-body-service-detail">
                    <p>Test</p>
                </div>
        </div>
    </div>
</div>
<!-- Service Overview Section -->
<div class="container mt-5 mb-5" id="services">
    <div class="row justify-content-center">
        <h3>Choose from one of the services below:</h3>
        {% for service in service_list %}
        <!-- Each service in a 4-column wide div for 3 services per row -->
        <div class="{% if service_list|length > 2 %}col-md-4{% else %}col-md{% endif %} mb-4">
            <div class="card">
                <a href="{% url 'service_detail' service.slug %}" class="service-link">
                    <div class="service-card-body">
                        <div class="image-container">
                            {% if "placeholder" in service.featured_image.url %}
                            <img class="card-img-top"
                                src="https://res.cloudinary.com/drqpbtgw4/image/upload/v1701798673/boarding_refclr.jpg" />
                            {% else %}
                            <img class="card-img-top" src="{{ service.featured_image.url }}" />
                            {% endif %}
                            <div class="image-flash">
                                <p class="price-text">Price: {{ service.price }}</p>
                            </div>
                        </div>
                        <div class="service-title px-3">
                            <h2 class="card-title">{{ service.title }}</h2>
                            <hr />
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% empty %}
        <div class="col-md-6 offset-md-3">
            <p>No services available at the moment.</p>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Reviews Slider Section -->
<div class="container mb-5 mt-5" id="reviews">
    <div class="col">
        <div class="card">
            <h3>High five to all the previous reviews:</h3>
            <div class="card-body card-body-service-detail">
                <div class="row g-0">
                    <div class="slider2 p-4">
                        {% for comment in comments %}
                        <div class="slide comment mx-auto">
                            <blockquote class="blockquote text-center">
                                <p class="mb-0 mt-1">{{ comment.body | linebreaks }}</p>
                                <footer class="blockquote-footer">{{ comment.name }}</footer>
                            </blockquote>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Button to Open Modal -->
            {% if user.is_authenticated %}
            <div class="text-center mt-2 mb-2">
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#reviewModal">
                    Want to leave a Review?
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Review Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-4">
            <!-- Modal Header -->
            <div class="modal-header mx-3">
                <h5 class="modal-title" id="reviewModalLabel">Leave a Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <div class="card-body-comments">
                    <p>Writing as: {{ user.username }}</p>
                    <form method="post" action="{% url 'submit_home_review' %}" id="comment-form">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success mt-1">
                            Submit
                        </button>
                        <button type="button" class="btn btn-outline-success mt-1 mx-2" data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}