{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<!-- Service Detail Section -->
<div class="container service-detail mb-5">
    <div class="col-md-6 offset-md-3">
        <div class="card-body card-body-service-detail card">
            <div class="row g-0">
                <div class="image-container">
                    {% if "placeholder" in service.featured_image.url %}
                        <img
                            src="https://res.cloudinary.com/drqpbtgw4/image/upload/v1701798673/boarding_refclr.jpg"
                            class="card-img-top"
                            alt="Service Image"
                        />
                    {% else %}
                        <img
                            src="{{ service.featured_image.url }}"
                            class="card-img-top"
                            alt="Service Image"
                        />
                    {% endif %}
                        <div class="image-flash px-3">
                            <p class="price-text text-center">Price: EUR {{ service.price }}</p>
                        </div>
                    </div>
                </div>
                <div class="service-text mb-3">
                    <h1 class="service-title">{{ service.title }}</h1>
                    <p class="card-text">{{ service.content | safe }}</p>
                    <!-- Trigger Modal Button -->
                    <button type="button" class="btn btn-success px-3 mx-2" data-bs-toggle="modal" data-bs-target="#bookingModal">
                        Book Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service Overview Section -->
<div class="slider-wrap container review-section">
    <h2 class="mb-3 text-center">See our other available Services</h2>
    <div id="card-slider" class="slider carddeck">
        {% for service in other_services %}
        <div class="slider-item justify-content-center card text-center service-card-body">
            <a href="{% url 'service_detail' service.slug %}" class="service-link">
                <div class="image-container justify-content-center">
                    {% if "placeholder" in service.featured_image.url %}
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/drqpbtgw4/image/upload/v1701798673/boarding_refclr.jpg" />
                    {% else %}
                    <img class="card-img-top" src="{{ service.featured_image.url }}" />
                    {% endif %}
                    <div class="image-flash px-3">
                        <p class="price-text text-center">Price: EUR {{ service.price }}</p>
                    </div>
                </div>
                <div class="service-title px-3">
                    <h3 class="card-title mb-3 mt-3">{{ service.title }}</h3>
                </div>
            </a>
        </div>
        {% empty %}
        <div class="col-md-6 offset-md-3">
            <p>No other services available at the moment.</p>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Booking Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col m-3">
                            <div class="modal-header">
                                <h5 class="modal-title" id="bookingModalLabel">Book Service: {{ service.title }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% if unavailable_dates %}
                                <div class="alert alert-warning" role="alert">
                                    <strong>Unavailable Dates:</strong>
                                    {% for date in unavailable_dates %}
                                    <div>{{ date.unavailable_from|date:"d/m/Y" }} to {{ date.unavailable_to|date:"d/m/Y" }}</div>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <div class="alert alert-success" role="alert">
                                    All dates available. No set unavailability in the near future.
                                </div>
                                {% endif %}
                                {% if 'comment' not in message.tags %}
                                    {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                <form method="post" action="{% url 'book_service' service.id %}" id="bookingForm">
                                    {% csrf_token %}
                                    {{ booking_form.as_p }}
                                </form>
                                <p>Original Price: EUR <span id="originalPrice" data-price="{{ service.price }}">{{ service.price }}</span></p></p>
                                <p>Total Price: EUR <span id="priceText">{{ service.price }}</span></p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" form="bookingForm" class="btn btn-success px-3">Book Now</button>
                                <button type="button" class="btn btn-outline-success px-3" data-bs-dismiss="modal">Close</button>
                                <p class="text-muted small mt-3">*Adding a second dog increases the price by 50%.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock content %}
