/* global styling */

html {
    scroll-behavior: smooth;
}

main {
    height: auto;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.green-bg {
    background-color: #198754;
}

.main-bg {
    background: linear-gradient(180deg, rgba(251, 251, 236, 1) 0%, rgba(244, 251, 236, 1) 80%);
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

h1, h2, h3, h4, h5 {
    color: #333;
}

/* navigation bar */

.navbar {
    height: 12vh;
    flex-wrap: none;
}

.navbar-nav {
    text-align: center;
}

.navbar-container {
    margin: 0 2em;
}

.navbar-brand {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar-brand img {
    max-height: 8vh;
    width: auto;
}

.navbar-collapse.show {
    z-index: 1001;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

.title-overlay {
    margin-left: -1.25em;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-weight: bold;
    color: #198754;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #198754 !important;
}

.btn-outline-success {
    color: #198754 !important;
}

.btn-outline-success:hover {
    color: #fff !important;
}

.btn-success {
    color: #fff !important;
}

/* alert container */

.alert {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 2em;
    margin-bottom: 2em;
}

/* hero */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    flex: 1;
    scale: 150%;
    margin-left: 5em;
}

.hero-image {
    flex: 0 0 70%;
    height: auto;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* about */

#about img {
    max-width: 100%;
    height: auto;
}

.about-section,
.service-section,
.review-section {
    margin-top: 7.5em;
}

/* forms */

textarea,
input,
select {
    max-height: 7.5em;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
}

/* sign up styling */

.sign-up-link {
    color: #198754 !important;
}

.helptext {
    display: none;
}

.mb-3 p:nth-child(1) label,
.mb-3 p:nth-child(2) label,
form.signup label {
    display: block;
    margin-bottom: 5px;
}

.mb-3 input[type="checkbox"] {
    margin-left: 5px;
}

.mb-3 input[type="text"],
.mb-3 input[type="password"],
form.signup input {
    width: 100%;
    margin-bottom: 10px;
}

.signup-card {
    padding-bottom: 3em;
}

/* services */

.card {
    border: none;
    background-color: transparent;
}

.card-img,
.card-img-top {
    border-radius: 0.25rem;
}

.service-card-body {
    border: 1px solid #445261;
    border-radius: 0.25rem;
    transition: all 0.5s ease;
    margin: 1em;
    background-color: #fff;
}


.service-card-body:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.card-body {
    border: 1px solid #445261;
    border-radius: 0.25rem;
    background-color: #fff;
}

.card-body-service-detail,
.comment-card {
    padding: 0;
    margin: 1em;
}

.card-body-comments {
    margin: 1em;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #eac351;
    border-radius: 0.25rem;
}

.price-text {
    color: #445261;
    margin: 4px;
    text-transform: uppercase;
}

.service-title,
.service-link {
    text-decoration: none;
    color: #445261;
    text-align: center;
}

.service-title:hover,
.page-link {
    color: #198754;
}

.card-text {
    text-align: center;
}

.service-text {
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slick-next:before,
.slick-prev:before {
    color: #198754;
}

.slick-list {
    padding-top: 0;
}

.slick-prev {
    left: 1rem;
}

.slick-next {
    right: 1rem;
}

/* comments */

.comment-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textarea {
    max-height: 7.5em;
    overflow-y: auto;
}

#comment-count a {
    text-decoration: none;
    color: #6c757d;
}

#comment-count:hover {
    color: #198754;
}

/* review comment modal */

#reviewModal p label {
    margin-bottom: 5px;
    text-align: left;
}

#reviewModal input[type="text"],
#reviewModal input[type="date"],
#reviewModal select,
#reviewModal textarea {
    width: 100%;
}

#comment-form {
    text-align: left;
}

#comment-form div label {
    margin-bottom: 5px;
}

#comment-form div {
    margin-bottom: 1rem;
}

/* booking modal */

#bookingModal #bookingForm p label {
    margin-bottom: 5px;
}

#bookingModal #bookingForm input[type="text"],
#bookingModal #bookingForm input[type="date"],
#bookingModal #bookingForm select,
#bookingModal #bookingForm textarea {
    width: 100%;
}

#bookingModal #bookingForm input[type="checkbox"] {
    margin-left: 5px;
}

.modal-body {
    padding-bottom: 0;
    padding-top: 0;
}

.modal-footer {
    justify-content: flex-start;
    border-top: none;
    padding-top: 0;
    gap: 0.75rem;
}
    
.modal-footer>* {
     margin: 0 0 0 0.25rem;
}

/* bookings */

.booking-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.booking.cancelled {
    background-color: rgba(220, 53, 69, 0.2);
    color: rgba(68, 82, 97, 0.5);
}

.booking.cancelled h3,
.booking.cancelled p.booking-time-text,
.booking.cancelled p.booking-price {
    text-decoration: line-through;
}

.cancelled-overlay {
    text-transform: uppercase;
    text-align: center;
    transform: rotate(-45deg);
    font-size: 18px;
    border-radius: 0.25rem;
    background-color: #dc3545;
    position: absolute;
    right: -1.5em;
}

.cancelled-overlay p {
    color: #fff;
    margin: 0 1em;
}

/* button and links */

.btn-green-primary {
    background-color: #198754;
    color: #fff;
}

.btn-green-primary:hover,
.btn-green-primary:active {
    background-color: #fff;
    color: #198754 !important;
}

.btn-link {
    color: #198754;
}

.btn-link:hover {
    color: #445261;
}

.link {
    color: #198754;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}


/* footer */

.footer-container {
    margin: 0 2em;
}

/* Media queries */

@media (max-width: 768px) {

    .hero-section {
        flex-direction: column;
    }

    .hero-content {
        margin: 5em;
    }

    .container {
        padding: 0
    }
}

@media (max-width: 380px) {
    .title-overlay {
        margin-left: -5em;
    }

    #about.container,
    #reviews.container,
    .card,
    .service-card-body,
    .service-card,
    .card-body {
        margin: 0;
    }
}