/* global styling */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F9FAFC;
}

main {
    height: auto;
    margin: 0 2em;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.green-bg {
    background-color: #198754;
}

.main-bg {
    background-color: #F9FAFC;
}

/* navigation bar */

.navbar {
    height: 14vh;
    flex-wrap: none;
}

.navbar-container {
    margin: 0 2em;
}

.navbar-brand img {
    max-height: 12vh;
    width: auto;
}

.btn-outline-success {
    color: #198754 !important;
}

.btn-outline-success:hover {
    color: #fff !important;
}

.navbar-nav {
    text-align: center;
}

.navbar {
    z-index: 1000;
}

.navbar-collapse.show {
    z-index: 1001;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

/* alert container */

.alert {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 2em;
}

/* forms */

.sign-up-link {
    color: #198754 !important;
}

.helptext {
    display: none;
}

.mb-3 p:nth-child(1) label,
.mb-3 p:nth-child(2) label,
form.signup label {
    display: block;
    margin-bottom: 5px;
}

.mb-3 input[type="checkbox"] {
    margin-left: 5px;
}

.mb-3 input[type="text"],
.mb-3 input[type="password"],
form.signup input {
    width: 100%;
    margin-bottom: 10px;
}

.signup-card {
    padding-bottom: 3em;
}

/* services */

.slick-list {
    padding-top: 1em;
}

.card {
    border: none;
    background-color: transparent;
}

.card-img,
.card-img-top {
    border-radius: 0.25rem;
}

.service-card-body {
    border: 1px solid #445261;
    border-radius: 0.25rem;
    transition: all 0.5s ease;
    margin: 1em;
    background-color: #fff;
}


.service-card-body:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.card-body {
    border: 1px solid #445261;
    border-radius: 0.25rem;
    background-color: #fff;
}

.card-body-service-detail {
    padding: 0;
    margin: 1em;
}

.card-body-comments {
    margin: 1em;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #eac351;
    border-radius: 0.25rem;
}

.price-text {
    color: #445261;
    margin: 4px;
    text-transform: uppercase;
}

/* comments */

.comment-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textarea {
    max-height: 7.5em;
    overflow-y: auto;
}

#comment-count a {
    text-decoration: none;
    color: #6c757d;
}

#comment-count:hover {
    color: #198754;
}

/* other */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.service-title,
.service-link {
    text-decoration: none;
    color: #445261;
    text-align: center;
}

.service-title:hover,
.page-link {
    color: #198754;
}

.card-text {
    text-align: center;
}

.service-text {
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-signup {
    background-color: #198754;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #198754;
}

.link {
    color: #198754;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #eac351;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #eac351;
    background: transparent;
    border: none;
}

/* footer */

.footer-container {
    margin: 0 2em;
}

/* Media queries */