{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid mb-5 mt-5">
  <div class="card mt-4 mb-4">
    <div class="card-body card-body-service-detail">
      <div class="row g-0">
        <div class="col-md-6">
          <div class="image-container">
            {% if "placeholder" in service.featured_image.url %}
            <img
              src="https://res.cloudinary.com/drqpbtgw4/image/upload/v1701798673/boarding_refclr.jpg"
              class="card-img-top"
              alt="Service Image"
            />
            {% else %}
            <img
              src="{{ service.featured_image.url }}"
              class="card-img-top"
              alt="Service Image"
            />
            {% endif %}
            <div class="image-flash">
              <p class="price-text">Price: {{ service.price }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 service-text">
          <h1 class="service-title">{{ service.title }}</h1>
          <p class="card-text">{{ service.content | safe }}</p>
          <div class="row">
            <div class="col-md-6 d-flex align-items-center">
              {% with comments.count as total_comments %}
              <strong class="text-secondary" id="comment-count">
                <a href="#customer-reviews">
                    <i class="fa-regular fa-message"></i>
                    <p class="lh-1">{{ total_comments }}</p>
                    
                </a>
              </strong>
              {% endwith %}
            </div>
          </div>
        <!-- Trigger Modal Button -->
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#bookingModal">
            Book Now
        </button>
        </div>
      </div>
    </div>
</div>
<!-- Booking Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 mt-3 offset-md-2">
                            <div class="modal-header">
                                <h5 class="modal-title" id="bookingModalLabel">Book Service: {{ service.title }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'book_service' service.id %}" id="bookingForm">
                                    {% csrf_token %}
                                    {{ booking_form.as_p }}
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
                                <button type="submit" form="bookingForm" class="btn btn-success">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% if not user.is_authenticated %}
    <div class= "col-12 card mb-4" id="customer-reviews">
        <h3>Customer Reviews:</h3>
        <div class="card-body card-body-comments comment-body">
            <div class="slider2">
                {% for comment in comments %}
                <div class="slide comment mx-auto">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0">{{ comment.body | linebreaks }}</p>
                            <footer class="blockquote-footer">{{ comment.name }}</footer>
                        </blockquote>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="col-md-6 col-12 card mb-4">
        <h3>Customer Reviews:</h3>
        <div class="card-body card-body-comments comment-body">
            <div class="slider2">
                {% for comment in comments %}
                <div class="slide comment mx-auto">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0">{{ comment.body | linebreaks }}</p>
                        <footer class="blockquote-footer">{{ comment.name }}</footer>
                    </blockquote>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12 card mb-4">
        <h3>Submit your review:</h3>
        {% if commented %}
        <div class="alert alert-success card-body-comments" role="alert">
            Your comment is awaiting approval.
        </div>
        {% else %}
        <div class="card-body card-body-comments">
            <p>Writing as: {{ user.username }}</p>
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success mt-2">
                    Submit
                </button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endif %}
  </div>
</div>

{% endblock content %}
